.inverted-2 {
  background: linear-gradient(90deg, #000 50%, #fff 0), linear-gradient(-90deg, #000 50%, #fff 0), linear-gradient(90deg, #0000 50%, #000 0), linear-gradient(-90deg, #0000 50%, #000 0);
  background-repeat: no-repeat;
  background-size: 200% 51%;
  background-position: top left, bottom right;
  -webkit-background-clip: text, text, padding-box, padding-box;
  background-clip: text, text, padding-box, padding-box;
  transition: 0.8s;
}

.inverted-2:hover {
  background-position: top right, bottom left;
}

div.inverted-2 {
  color: #0000;
  font-weight: bold;
  display: inline-block;
  font-size: 40px;
  font-family: sans-serif;
  margin: 25px;
  padding: 8px;
  cursor: pointer;
}
